body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #304FFE; /* Kolor tła */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Możesz dostosować szerokość formularza */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.icon-container {
    background-image: url('../images/house.svg'); /* Ścieżka do ikony domków */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px; /* Wysokość ikony */
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #304FFE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 10px;
    color: #304FFE;
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}
